body{
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(233, 233, 233, 0.20),rgba(235, 107, 107, 0.20)), url(../../../assets/Images/Cinemex.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}